/*----------------Propiedades en común----------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-color: #e52520;
    --secondary-color: #f8f3e3;
    --black-color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
}

/*----------------Header----------------------*/

header {
    background-color: var(--secondary-color);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}

li {
    list-style: none;
}

a {
    color: var(--black-color);
    text-decoration: none;
    font-weight: 700;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-logo {
    width: 125px;
}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: var(--main-color);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--black-color);
    border-radius: 40px 40px;
}

/*-----------------Página index/home------------------------------*/

/* sección hero-img */

.hero-container {
    background-image: linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0.15)), url(img/hero-img.jpg);
    width: 100%;
    background-color: #ffffff;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
}

.hero-header {
    padding: 100px 50px;
    width: 400px;
}

.hero-title {
    border-left: 6px solid var(--main-color);
    padding-left: 10px;
    font-size: 2rem;
    color: var(--black-color);
}

.hero-paragraph {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--black-color);
}

.rectangle {
    display: block;
    width: 8px;
    height: 100%;
    margin: 5px auto;
    background-color: var(--main-color);
}

/* sección carousel */

.carousel-container {
    margin: 50px 0px;
    display: flex;
}

.carousel {
    width: 100%;
}

.carousel h2 {
    padding: 0px 50px;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    color: var(--black-color);
}

.carousel h2 span {
    color: var(--main-color);
}

.carousel p {
    padding: 0px 50px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--black-color);
    font-weight: 700;
}

.slick-list {
    position: relative;
    display: flex;
    align-items: center;
    height: 350px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow:hidden;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.slick {
    position: relative;
    width: 275px;
    padding: 0 20px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.slick h4 {
    position: absolute;
    z-index: 1;
    font-size: 18px;
    line-height: 23px;
    color: white;
    padding: 15px;
    text-shadow: var(--black-color) 2px 3px 5px;
}

.slick a img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    filter: contrast(75%);
}

.slick a img:hover {
    opacity: 0.85;
}

.slick-arrow {
    border-radius: 30px;
    background-color: white;
    position: absolute;
    z-index: 2;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: 0;
    cursor: pointer;
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow i {
    font-size: 1.5rem;
    color: var(--black-color);
}

.slick-next {
    right: 0px;
}

.slick-prev {
    left: 0px;
}

/* sección process */

.process-container {
    background-color: var(--secondary-color);
    padding: 50px;
}

.process-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.process-header p:nth-child(1) {
    background-color: white;
    border-radius: 10px;
    font-weight: 600;
    width: 120px;
    height: 20px;
    text-align: center;
    color: var(--black-color);
}

.process-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 150px;
    margin-bottom: 10px;
}

.process-text h2 {
    font-size: 2rem;
    color: var(--black-color);
    border-left: 6px solid var(--main-color);
    padding-left: 10px;
}

.process-text p {
    width: 500px;
    font-weight: 600;
    color: var(--black-color);
}

.cards-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card {
    position: relative;
    width: 400px;
    height: 500px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(75%);
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 3rem;
    font-weight: 900;
    padding-left: 20px;
}

.card .front p {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    color: white;
    font-size: 1.8rem;
    padding-left: 20px;
    font-weight: 600;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background-color: #2e2e2e;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.card:hover .front, .card:active .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back, .card:active .back {
    transform: perspective(600px) rotateY(360deg);
}

.heart {
    position: relative;
    width: 100px;
    height: 90px;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: var(--main-color);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.process-button {
    display: flex;
    margin: 30px;
}

.process-btn {
    background-color: var(--main-color);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: white;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.process-btn:hover {
    background-color: var(--black-color);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: white;
}

/* sección donation */

.donation-container {
    background-image: linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0.15)), url(img/donation-img.jpg);
    width: 100%;
    background-color: white;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.donation-card {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: auto;
    margin: 50px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.donation-card h2 {
    border-left: 6px solid var(--main-color);
    padding-left: 10px;
    font-size: 2rem;
    color: var(--black-color);
}

.donation-card p {
    font-weight: 600;
    color: var(--black-color);
}

.donation-btn {
    background-color: var(--main-color);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.donation-btn:hover {
    background-color: var(--black-color);
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 10px;
    color: white;
}

/* sección goals */

.goals-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.goals-cards-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px;
}

.goals-card {
    position: relative;
    width: 300px;
    height: 350px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    transition: 0.5s ease-in-out;
    padding: 10px;
}

.goals-card:hover, .goals-card:active {
    transform: translateY(20px);
}

.goals-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 1));
    z-index: 1;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 10px;
}

.goals-card:hover::before {
    opacity: 1;
}

.goals-card img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: contrast(75%);
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.goals-text {
    position: relative;
    opacity: 0;
    z-index: 3;
    color: white;
    transition: 0.5s all;
}

.goals-card:hover .goals-text, .goals-card:active .goals-text {
    opacity: 1;
    transform: translateY(0px);
}

.goals-text p {
    margin: 5px 0px;
}

.goals-text .goals-btn {
    text-decoration: none;
    color: var(--main-color);
}

/*----------------Footer----------------------*/

footer {
    width: 100%;
    position: absolute;
    padding: 2rem 8%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.3);
}

.footer-logo {
    width: 125px;
    margin-bottom: 1rem;
}

.footer-item {
    margin: 5px 0px;
}

.social-icons-container,
.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon .fa-brands {
    height: 25px;
    width: 50px;
    font-size: 1.25rem;
    color: var(--black-color);
    transition: 0.5s ease;
}

.social-icon .fa-brands:hover {
    height: 25px;
    width: 50px;
    color: var(--main-color);
}

.footer-link {
    margin: 1rem 1.5rem;
    transition: 0.5s ease;
}

.footer-link:hover {
    color: var(--main-color);
}

.copyright {
    color: var(--black-color);
    opacity: 0.8;
    text-align: center;
}

/*-----------------Página contactanos------------------------------*/

.contact {
    background-image: linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0.15)), url(img/img_contactanos3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contactus-container {
    margin: 0px 50px;
    padding-bottom: 50px;
}

.contact-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
}

.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: white;
}

.address-heading{
    color: var(--black-color);
    font-size: 2rem;
    border-left: 6px solid var(--main-color);
    padding-left: 10px;
}

.address-text {
    font-weight: 600;
    font-size: 1rem;
    color: var(--black-color);
    margin-top: 10px;
}

.address {
    font-weight: 500;
    font-size: 1rem;
}

.map iframe{
    height: 300px;
    width: 450px;
    border-radius: 10px;
    border: 3px solid var(--secondary-color);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.form {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 25px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.fcontacto {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--black-color);
}

.to {
    padding: 2px;
    margin-top: 10px;
    border-radius: 5px;
}

.textMail,
.textNombre,
.textBox,
.textTel {
    padding: 10px;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    height: 30px;
    border: 1px solid var(--black-color);
}

.textBox{
    height: 120px;
    overflow: hidden;
}

label {
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    color: var(--black-color);
}

#submit {
    margin-top: 15px;
    margin-left: 5px;
    background-color: var(--main-color);
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    border: 0;
}

#submit:hover {
    background-color: var(--black-color);
    color: white;
    transition: 0.5s;
}

/*----------------Página sobre nosotros----------------------*/

.aboutus-container{
    background-image: linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0.15)), url(img/nosotroshero-img.jpg);
    width: 100%;
    background-color: white;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.aboutus-card{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: auto;
    margin: 50px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.aboutus-heading{
    color: var(--black-color);
    font-size: 2rem;
    border-left: 6px solid var(--main-color);
    padding-left: 10px;
}

.aboutus-text{
    color: var(--black-color);
    font-size: 1rem;
    font-weight: 500;
}

.ourteam{
    text-align: center;
    margin-bottom: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.ourteam-heading{
    font-size: 2rem;
    color: var(--black-color);
}

.ourteam-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.ourteam-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: 275px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.ourteam-cards:hover, .ourteam-cards:active{
    transform: translateY(-20px);
}

.ourteam-title {
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.ourteam-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.ourteam-text {
    font-size: 1rem;
    color: var(--black-color);
    font-weight: 500;
    padding-top: 10px;
}

.ourvalues{
    background-color: var(--secondary-color);
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.ourvalues-heading{
    color: var(--black-color);
    font-size: 2rem;
    border-left: 6px solid var(--main-color);
    padding-left: 10px;
}

.ourvalues-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 60px;
}

.ourvalues-text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    width: 500px;
}

.ourvalues-img img{
    width: 650px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

dt{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black-color);
}

dd{
    font-size: 1rem;
    font-weight: 400;
    color: var(--black-color);
    margin: 10px auto;
    padding-left: 10px;
}

/*----------------Página adóptame----------------------*/

.adoptme-background{
    background-color: rgb(238, 238, 238);
    background-image: url(img/img-adoptame-1.jpg);
    background-size: 20%;
    background-origin: border-box ;
    background-position: 2% bottom;
    background-repeat: no-repeat;
    
}


.flex-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 40px;
   gap: 40px 20px;
}

.a-card-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    width: 450px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
    margin-left:40px ;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.a-card-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.a-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    background: transparent;
}

.a-card-header img{
    width: 150px;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
    transition: 0.3s;
}
.a-card-header a:hover img{
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

.a-card-header h2{
    color: var(--main-color);
    padding-bottom: 5px;
    font-size: 1.4rem;
    font-weight: 700;
}

.a-card-header h4{
    color: var(--black-color);
    font-size: 1rem;
    font-weight: 600;
}

.a-description p{
    padding: 20px;
    font-size: 1rem;
}

.a-description a{
    color: var(--main-color);
}

.button{
    border-radius: 5px;
    background-color: var(--main-color);
    border: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.button:hover, .button:active{
    background-color: var(--black-color);
}
/*----------------Media Queries----------------------*/

@media screen and (max-width:480px) {
    .aboutus-heading, .ourteam-heading, .ourvalues-heading, .address-heading, .fcontacto, .carousel h2, .process-text h2, .donation-card h2, .goals-container h2, .card .front p, .a-card-header h2{
        font-size: 1.25rem;
    }
    .a-card-header h4{
        font-size: 0.9rem;
    }
    .aboutus-text, .ourteam-text, dd, .address-text, .address, .textMail, .textNombre, .textBox, .textTel, .carousel p, .process-text p, .back p, .donation-card p, .a-description p{
        font-size: 0.8rem;
    }
    .ourteam-cards{
        width: 200px;
    }
    .ourteam-img {
        width: 150px;
        height: 150px;
    }
    .ourteam-title, dt{
        font-size: 1.25rem;
    }
    .ourvalues-img img{
        width: 300px;
        height: 250px;
    }

    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: var(--main-color);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: var(--main-color);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--secondary-color);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }
    .hero-container{
        align-items: flex-end;
    }
    .nav-logo {
        width: 100px;
    }
    .contact-container {
        flex-direction: column;
        justify-content: center;
    }
    .map iframe{
        height: 250px;
        width: 350px;
        border-radius: 10px;
    }
    .donation-btn, .process-button {
        font-size: 0.8rem;
    }
    .goals-card {
        width: 200px;
        height: 250px;
    }
    .a-card-container{
        display: flex;
        flex-direction: column;
    }
    .a-card-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid #ddd;
        border-right: none;
    }
}

@media screen and (min-width:480px) and (max-width:768px) {
    .aboutus-heading, .ourteam-heading, .ourvalues-heading, .address-heading, .fcontacto, .carousel h2, .process-text h2, .donation-card h2, .goals-container h2, .card .front p{
        font-size: 1.5rem;
    }
    .a-card-header h2{
        font-size: 1.25rem;
    }
    .aboutus-text, .ourteam-text, dd, .address-text, .address, .textMail, .textNombre, .textBox, .textTel, .carousel p, .process-text p, .back p, .donation-card p, .a-description p, .a-card-header h4{
        font-size: 0.9rem;
    }
    .ourteam-cards{
        width: 250px;
    }
    .ourteam-img {
        width: 175px;
        height: 175px;
    }
    .ourteam-title, dt{
        font-size: 1rem;
    }
    .ourvalues-img img{
        width: 450px;
        height: 350px;
    }
    .hero-container{
        align-items: flex-end;
    }
    .nav-menu{
        font-size: 0.8rem;
        gap: 20px;
    }
    .nav-logo {
        width: 100px;
    }
    .contact-container {
        flex-direction: column;
    }
    .donation-btn, .process-button{
        font-size: 0.8rem;
    }
}
